<html>
    <body>
        <div>
            <form method="post">
                <input type="text" name="text" placeholder="Введите сообщение">
                <input type="text" name="tag" placeholder="Тэг">
                <button type="submit">Добавить</button>
            </form>
        </div>
        <div>Список сообщений</div>
        <div>
            {{#messages}}
                <b>{{id}}</b>
                <span>{{text}}</span>
                <i>{{tag}}</i>
            {{/messages}}
        </div>
    </body>
</html>